{% extends 'base.html' %}
{% block content %}
<h1> Formulario {{nombre}}</h1>
<form method="POST" action="{{ruta}}"> 
    {% csrf_token %}
    <input type="hidden" name="action" value="{{ action }}">
    <input type="hidden" name="id" value="{{ id }}">

    {% for field in formulario %}
    <div class="form-group">
        <label class="form-label">{{ field.label }}: </label>
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
    <a href="{{ ruta }}" class="btn btn-danger"><i class="fa fa-close"></i> Cancelar</a>
</form>

{% endblock %}