{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/></meta>
        <title>Login</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"></meta>
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"></link>
    </head>
    <body>
    <div class="panel-heading">
        <h3 class="panel-title">LOGIN</h3>
    </div>
    <div class="panel-body">
        <form method="post" action="">
            {% csrf_token %}
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group" id="username">
                    {{ form.username }}
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group" id="password">
                    {{ form.password }}
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <a href="#">olvidé mi contraseña</a>
                    <input class="btn-primary" type="submit" value="Ingresar">
                </div>
            </div>
        </form>
    </div>
</html>